{% load static %}

{% load auth_extras %}

<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'img/label_small.png' %}" alt="Logo" width="40" height="40">
    </a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"> Главная <span class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'library:book_catalog' %}">Каталог книг</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login_user' %}">Каталог книг</a>
                </li>
            {% endif %}
            {% if request.user|is_group:"Reader" %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Мои книги</a>
                </li>
            {% elif request.user|is_group:"Librarian" %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'library:select_category' %}">Добавить книгу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'library:give_book' %}">Выдать книгу</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Учет выданных книг</a>
                </li>
            {% endif %}
        </ul>
        <div class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
                {% if user.is_superuser %}
                    <a class="nav-link" href="/admin/">Администрирование</a>
                {% else %}
                    <a class="nav-link" href="#">Профиль</a>
                {% endif %}
                <a class="nav-link" href="{% url 'users:logout_user' %}">Выйти</a>
            {% else %}
                <a class="nav-link" href="{% url 'users:login_user' %}">Войти</a>
                <a class="nav-link" href="{% url 'users:create_user' %}">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
</nav>